.comments-container {
  height: fit-content;
}

.comments-container .comment {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 1rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.comment .creator {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.comment .date {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 0.9rem;
}
.comment .thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.comment .text {
  font-size: 1rem;
  color: #333;
}

.comments-container form {
  margin-top: 2rem;
}

.comments-container form textarea {
  min-height: 80px;
}

.comments-container form h4 {
  margin-bottom: 0.9rem;
}

/* media query */
@media screen and (max-width: 425px) {
  .comments-container {
    margin-top: 30px;
  }
}
