.all-users-container {
  min-width: 200px;
  padding-top: 20px;
  text-align: right;
  background-color: #fff;
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.2);
}

.title {
  padding: 0 15px 15px 15px;
  border-bottom: 1px solid rgb(206, 206, 206);
  width: 100%;
}

.all-users {
  padding: 15px;
}

.users {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
}

.users .name {
  margin: 0 10px;
}

.users .thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

.users .online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

/* media query */
@media screen and (max-width: 320px) {
  .all-users-container {
    text-align: left;
    box-shadow: unset;
    padding: 10px 10px;
    background-color: unset;
  }

  .title {
    border-bottom: none;
  }

  .all-users {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .users {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .all-users-container {
    text-align: left;
    box-shadow: unset;
    padding: 10px 10px;
    background-color: unset;
  }

  .title {
    border-bottom: none;
  }

  .all-users {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .users {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}

/* tablet view */
@media screen and (min-width: 551px) and (max-width: 768px) {
  .all-users-container {
    text-align: left;
    box-shadow: unset;
    padding: 10px 10px;
    background-color: unset;
  }

  .title {
    border-bottom: none;
  }

  .all-users {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .users {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}
