/* the whole container */
.sidebar {
  width: 250px;
  background: var(--primary-color);
  min-height: 100%;
  box-sizing: border-box;
  color: #fff;
  position: relative;
}

.sidebar .sm-logout {
  display: none;
}

/* user info */
.sidebar .user {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  letter-spacing: 1px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .user > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* user thumbnail */
.sidebar .thumb {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}

/* sidbar link container */
.sidebar .link-container {
  margin-top: 50px;
  width: inherit;
  margin-left: 20px;
}

/* the links themselves */
.link-container .link {
  margin-left: 15px;
}

.link-container .link span {
  margin-left: 5px;
}

/* image inside link */
.link-container .link img {
  filter: invert(100%);
  margin-right: 15px;
  margin-top: 5px;
}

/* the whole link: image + text*/
.sidebar a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

/* when link is active */
.link-container a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}

.link-container .link img {
  margin-right: 0;
  margin-bottom: 5px;
}

.link-container a.active img {
  filter: invert(30%);
}

/* media query */

@media screen and (max-width: 768px) {
  .sidebar {
    height: fit-content;
    width: inherit;
    background-color: unset;
    padding: 0 10px;
    margin-top: 10px;
  }

  .sidebar-container {
    background-color: var(--primary-color);
    border-radius: 10px;
  }

  .sidebar .sm-logout {
    display: block;
  }

  .sidebar .user {
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar .user > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebar .thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .sidebar .link-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-container .link {
    padding: 0;
    margin-left: 0;
  }

  .sidebar a {
    flex-direction: column;
    padding: 5px;
    margin: 10px 30px 10px 10px;
    font-size: 0.9rem;
  }

  .link-container a.active {
    border-radius: 5px;
  }
}

@media screen and (min-width: 2560px) {
  .sidebar {
    min-height: 100vh;
  }
}
