/* the whole container */
.sidebar {
  min-width: 250px;
  background: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  color: #fff;
}

/* user info */
.sidebar .user {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  letter-spacing: 1px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* user thumbnail */
.sidebar .thumb {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}

/* sidbar link container */
.sidebar .link-container {
  margin-top: 50px;
  width: inherit;
  margin-left: 20px;
}

/* the links themselves */
.link-container .link {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 10px 10px;
  margin-left: 25px;
}

/* image inside link */
.link-container .link img {
  filter: invert(100%);
  margin-right: 10px;
}

/* the whole link: image + text*/
.sidebar a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

/* when link is active */
.link-container a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}

.link-container a.active img {
  filter: invert(30%);
}
